* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.message-box {
  display: flex;
  flex-direction: column;
  padding: 10px 90px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  height: 25rem;
  overflow-y: auto;
}

form {
  display: flex;
  margin: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='text'] {
  flex: 2;
  margin-right: 5px;
}

input[type='submit'] {
  flex: 1;
}

input[type='submit']:hover {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

li {
  margin: 1rem;
  list-style: none;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
}

li:nth-child(even) {
  align-self: flex-start;
}
